*,html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;


}
body{
    font-family: 'Roboto', sans-serif;
    background-color: rgba(159, 155, 155, 0.684);
}
header{
    background-color: rgb(0, 0, 0);
    height: auto;
}
.container{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;

}
.navegacion{
    display: flex;
    justify-content: center;
    align-items: center;

}   
.navegacion a{
    text-decoration: none;
    color:rgb(255, 0, 0) ;
    padding: 20px;
}
a:hover{
    color: white;
}
