body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
}

nav {
    background-color: #0c0c0c;
    color: #ffffff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav img {
    margin-right: 20px;
    max-height: 50px;
    /* Ajusta el tamaño de la imagen según sea necesario */
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav li {
    margin-right: 15px;
}

nav a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    font-size: 16px;
}

nav a:hover {
    color: red;
}

.container {
    margin-top: 20px;
}

.product {
    border: 1px solid #ced4da;
    border-radius: 8px;
    margin-bottom: 20px;
    padding: 15px;
    background-color: #ffffff;
    display: flex;
}

.product-img {
    /* Puedes agregar estilos para la imagen si es necesario */
}

.product-info {
    margin-left: 20px;
}

.product h5 {
    font-size: 18px;
    margin-bottom: 10px;
}

.product p {
    margin-bottom: 8px;
}

.product button {
    background-color: #007bff;
    color: #ffffff;
    border: none;
    padding: 8px 15px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    cursor: pointer;
    border-radius: 4px;
}


.card {
    border: 1px solid #ced4da;
    border-radius: 8px;
    margin-bottom: 20px;
    background-color: #ffffff;
}

.card-body {
    padding: 20px;
}

.addToCartBtn {
    background-color: #007bff;
    color: #ffffff;
    border: none;
    padding: 8px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
    border-radius: 4px;
}

#carritoDropdown {
    display: none;
    border: 1px solid #ced4da;
    border-radius: 8px;
    padding: 10px;
    margin-top: 10px;
    background-color: #ffffff;
    z-index: 1;
    /* Asegura que el menú esté sobre otros elementos */
}

#carritoDropdown li {
    list-style: none;
    margin-bottom: 8px;
    color: black;
}

#carritoDropdown button {
    background-color: #28a745;
    color: #ffffff;
    border: none;
    padding: 8px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
    border-radius: 4px;
    margin-top: 10px;
}

/* Estilos responsive */
@media only screen and (max-width: 768px) {
    nav {
        flex-direction: column;
        align-items: center;
    }

    nav img {
        margin-right: 0;
        margin-bottom: 10px;
    }

    nav ul {
        flex-direction: column;
        text-align: center;
    }

    nav li {
        margin-right: 0;
        margin-bottom: 10px;
    }
}